In [54]:
! pip install selenium
import selenium
import pandas as pd
import numpy as np
!pip install webdriver-manager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys 
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\bhupe\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\bhupe\anaconda3\lib\site-packages (from selenium) (1.25.9)
Requirement already satisfied: webdriver-manager in c:\users\bhupe\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: crayons in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (0.4.0)
Requirement already satisfied: requests in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (2.24.0)
Requirement already satisfied: configparser in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (5.0.1)
Requirement already satisfied: colorama in c:\users\bhupe\anaconda3\lib\site-packages (from crayons->webdriver-manager) (0.4.3)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.0.4)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.25.9)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (2020.6.20)
Requirement already satisfied: idna<3,>=2.5 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.10)

In [55]:
driver=webdriver.Chrome(ChromeDriverManager().install())

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\bhupe\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [56]:
driver.get('https://www.glassdoor.co.in/Salaries/index.htm')

In [57]:
search_job=driver.find_element_by_xpath("//input[@class='keyword'][1]")
search_job.send_keys('Data Scientist')
search_loc=driver.find_element_by_xpath("//input[@class='loc']")
search_loc.send_keys('Noida')

In [58]:
search_btn=driver.find_element_by_id("HeroSearchButton")
search_btn.click()

In [59]:
url='https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn'

In [60]:
driver.get(url)

In [61]:
company_names=[]
number_of_salaries=[]
Average_salary=[]
Min_salary=[]
Max_Salary=[]

In [62]:
company_tag=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="39e8bc62-9696-437b-99da-5dcebb06b0b9")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="74e33974-abe9-4ea8-9f8f-ba615a3a5844")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="fb196db0-007b-4fa1-9caf-711ec073b2f3")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="90cb10fb-c4ab-463f-9c0f-ef9e9bd79aed")>]

In [63]:
for i in company_tag:
    company=i.text
    company_names.append(company)
    
company_names[0:10]

['Delhivery',
 'Ericsson-Worldwide',
 'Tata Consultancy Services',
 'Accenture',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'EXL Service']

In [64]:
salary_tag=driver.find_elements_by_xpath("//p[@class='css-1uyte9r css-1kuy7z7 m-0 ']")
salary_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="f025ba43-5c21-4324-a4eb-e752e7b7d79a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="0c225520-58da-4a7c-b0ce-e3f5588862b4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="307314b1-cea3-4286-b46b-d39e0b616248")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="3668e09e-ba0f-4c5d-8239-e1ef576ae5a1")>]

In [65]:
for i in salary_tag:
    salary=i.text
    number_of_salaries.append(salary)
    
number_of_salaries[0:10]

['13 salaries',
 '11 salaries',
 '10 salaries',
 '10 salaries',
 '10 salaries',
 '9 salaries',
 '8 salaries',
 '7 salaries',
 '6 salaries',
 '6 salaries']

In [66]:
Average_tag=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']")
Average_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="ea0e5a3b-dd62-4e59-a0f3-a67b05b55c7e")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="65c64456-7f66-4b06-b420-4e34b318dfb7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="4717ce94-c0aa-446e-908a-fd20d765be3b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="ef661e5b-728e-4893-bcc1-35a3d6189a58")>]

In [67]:
for i in Average_tag:
    average=i.text.replace('\n','')
    Average_salary.append(average)
    
Average_salary[0:10]

['₹ 12,64,182/yr',
 '₹ 7,41,935/yr',
 '₹ 5,99,668/yr',
 '₹ 9,94,055/yr',
 '₹ 7,39,040/yr',
 '₹ 13,37,114/yr',
 '₹ 7,80,374/yr',
 '₹ 11,98,792/yr',
 '₹ 10,08,143/yr',
 '₹ 11,34,989/yr']

In [68]:
min_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")
min_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="00c87ce3-1fa1-4c55-b40b-f51bafd6d563")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="c83a82ed-4c4e-4f2b-ad2f-d2d8af5f0e06")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="b1e1b7f5-b543-43a0-a3fb-ff83d5f0a6bf")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="7b73f04e-37c2-40e9-9a4e-c054bcac3f2d")>]

In [69]:
for i in min_tag:
    mini=i.text.replace('\n','')
    Min_salary.append(mini)
    
Min_salary[0:10]

['₹450K',
 '₹420K',
 '₹336K',
 '₹577K',
 '₹587K',
 '₹717K',
 '₹502K',
 '₹621K',
 '₹793K',
 '₹576K']

In [70]:
max_tag=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")
max_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="88098514-0831-4d1c-a962-b20d0413e764")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="9913f593-002c-4c5e-82ed-9b832110119f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="88f91f59-5990-4771-93b8-61d4d3176f5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="758eb2d119c9896d6e97d569fadc2e69", element="2237bad2-40a7-4bca-81fa-9d6079582453")>]

In [71]:
for i in max_tag:
    maxi=i.text.replace('\n','')
    Max_Salary.append(maxi)
    
Max_Salary[0:10]

['₹11,630K',
 '₹1,614K',
 '₹1,010K',
 '₹2,215K',
 '₹2,732K',
 '₹1,575K',
 '₹1,152K',
 '₹1,696K',
 '₹1,264K',
 '₹1,500K']

In [72]:
print(len(company_names),len(number_of_salaries),len(Average_salary),len(Min_salary),len(Max_Salary))

20 20 20 20 20

In [73]:
Glassdoor=pd.DataFrame({})
Glassdoor['company_names']=company_names[:10]
Glassdoor['number_of_salaries']=number_of_salaries[:10]
Glassdoor['Average_salary']=Average_salary[:10]
Glassdoor['Min_salary']=Min_salary[:10]
Glassdoor['Max_Salary']=Max_Salary[:10]

In [74]:
Glassdoor

,company_names,number_of_salaries,Average_salary,Min_salary,Max_Salary
0,Delhivery,13 salaries,"₹ 12,64,182/yr",₹450K,"₹11,630K"
1,Ericsson-Worldwide,11 salaries,"₹ 7,41,935/yr",₹420K,"₹1,614K"
2,Tata Consultancy Services,10 salaries,"₹ 5,99,668/yr",₹336K,"₹1,010K"
3,Accenture,10 salaries,"₹ 9,94,055/yr",₹577K,"₹2,215K"
4,IBM,10 salaries,"₹ 7,39,040/yr",₹587K,"₹2,732K"
5,UnitedHealth Group,9 salaries,"₹ 13,37,114/yr",₹717K,"₹1,575K"
6,Valiance Solutions,8 salaries,"₹ 7,80,374/yr",₹502K,"₹1,152K"
7,Innovaccer,7 salaries,"₹ 11,98,792/yr",₹621K,"₹1,696K"
8,Cognizant Technology Solutions,6 salaries,"₹ 10,08,143/yr",₹793K,"₹1,264K"
9,EXL Service,6 salaries,"₹ 11,34,989/yr",₹576K,"₹1,500K"