#### Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.

In [4]:
! pip install selenium

Requirement already satisfied: selenium in c:\users\bhupe\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\bhupe\anaconda3\lib\site-packages (from selenium) (1.25.9)

In [6]:
import selenium
import pandas as pd
!pip install webdriver-manager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: webdriver-manager in c:\users\bhupe\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: crayons in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (0.4.0)
Requirement already satisfied: configparser in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (5.0.1)
Requirement already satisfied: requests in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (2.24.0)
Requirement already satisfied: colorama in c:\users\bhupe\anaconda3\lib\site-packages (from crayons->webdriver-manager) (0.4.3)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.0.4)
Requirement already satisfied: idna<3,>=2.5 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (2020.6.20)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.25.9)

In [7]:
driver=webdriver.Chrome(ChromeDriverManager().install())

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\bhupe\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [8]:
driver.get('https://www.naukri.com/')

In [9]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Analyst')
search_loc=driver.find_element_by_xpath("//input[@id='qsb-location-sugg']")
search_loc.send_keys('Bangalore')

In [10]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [11]:
url='https://www.naukri.com/data-analyst-jobs-in-bangalore?k=data%20analyst&l=bangalore'

In [12]:
driver.get(url)

In [13]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [14]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="47b688a1-b7f7-4d76-b7da-22ed06f31bd7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="3f3bb3de-04bd-494f-9cc7-37915dc3c18b")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="12fcc837-c80b-4b93-adee-1ad8cea142dc")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="9e60a181-2a4f-48c6-9e9a-d1b7ea1c9f91")>]

In [15]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
    
job_titles[0:4]

['MIS/ Data Analyst-(SQL,Automation,Excel/PowerBI,Dashboards) - Contract',
 'Data Analyst - SAP',
 'Senior Data Analyst',
 'Security Data Analyst']

In [16]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="128982eb-79f6-4182-af19-c7217ff04891")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="05425242-c960-49e3-9050-95b2775c9cc8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="2f5431dc-3b9b-407f-b0e0-f799b96c7d57")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="dbac6fe9-79bc-4ea4-9ef1-094034e6b75a")>]

In [17]:
for i in companies_tags:
    company=i.text
    company_names.append(company)
    
company_names[0:4]

['Flipkart Internet Private Limited',
 'Boston Scientific Corporation',
 'Schneider Electric',
 'Philips India Limited']

In [18]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="d4db5b8d-646e-4603-8bf9-f9621c3fe4a4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="10bb26ed-cc94-47c3-958b-d2be5c9226ae")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="6e1c6da0-4685-40a4-a72d-7c69e0a12629")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="9c690ee5-f1a9-4d5a-8ba2-32b8280723f9")>]

In [19]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
    
experience_list[0:4]

['1-4 Yrs', '3-5 Yrs', '2-5 Yrs', '2-4 Yrs']

In [20]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="4f1ca35f-1bfc-483f-9801-3fbd3907e3f8")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="0610fe4a-70b2-4e64-8108-b903af24ff28")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="0da230be-740e-4d2f-9fcb-ce3eab691968")>,
 <selenium.webdriver.remote.webelement.WebElement (session="0f31fb9034f080d8ad96a7cbde484b7f", element="948d517f-3015-49da-a2e8-c1d63725d705")>]

In [21]:
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[0:4]

['Bengaluru',
 'Pune, Delhi, Bengaluru, Gurgaon',
 'Bengaluru / Bangalore',
 'Bengaluru']

In [22]:
print(len(job_titles),len(company_names),len(location_list),len(experience_list))

20 20 20 20

In [23]:
jobs=pd.DataFrame({})
jobs['job_titles']=job_titles[:10]
jobs['company_names']=company_names[:10]
jobs['location_list']=location_list[:10]
jobs['experience_list']=experience_list[:10]

In [24]:
jobs

,job_titles,company_names,location_list,experience_list
0,"MIS/ Data Analyst-(SQL,Automation,Excel/PowerB...",Flipkart Internet Private Limited,Bengaluru,1-4 Yrs
1,Data Analyst - SAP,Boston Scientific Corporation,"Pune, Delhi, Bengaluru, Gurgaon",3-5 Yrs
2,Senior Data Analyst,Schneider Electric,Bengaluru / Bangalore,2-5 Yrs
3,Security Data Analyst,Philips India Limited,Bengaluru,2-4 Yrs
4,"Data Analyst -Azure Data lake, Azure Data factory",Mindtree Limited,"Chennai, Pune, Bengaluru, Hyderabad",5-9 Yrs
5,Business / Data Analyst,IBM India Pvt. Limited,Bengaluru,2-4 Yrs
6,Data Analyst - O2C - Bangalore,RANDSTAD INDIA PVT LTD,Bengaluru,2-4 Yrs
7,Intern Data Analyst,Outsource Big Data,Bengaluru,0-1 Yrs
8,NiFi Data Analyst,Capgemini Technology Services India Limited,Bengaluru,4-6 Yrs
9,Requirement For Data Analyst(Advance excel can...,Emagine People Technologies Private Limited,"Chennai, Bengaluru",0-2 Yrs