In [94]:
! pip install selenium
import selenium
import pandas as pd
import numpy as np
!pip install webdriver-manager
from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager
from selenium.webdriver.common.keys import Keys 
from selenium.common.exceptions import ElementClickInterceptedException
import warnings
warnings.filterwarnings('ignore')

Requirement already satisfied: selenium in c:\users\bhupe\anaconda3\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in c:\users\bhupe\anaconda3\lib\site-packages (from selenium) (1.25.9)
Requirement already satisfied: webdriver-manager in c:\users\bhupe\anaconda3\lib\site-packages (3.3.0)
Requirement already satisfied: requests in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (2.24.0)
Requirement already satisfied: crayons in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (0.4.0)
Requirement already satisfied: configparser in c:\users\bhupe\anaconda3\lib\site-packages (from webdriver-manager) (5.0.1)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (1.25.9)
Requirement already satisfied: idna<3,>=2.5 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (2.10)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (2020.6.20)
Requirement already satisfied: chardet<4,>=3.0.2 in c:\users\bhupe\anaconda3\lib\site-packages (from requests->webdriver-manager) (3.0.4)
Requirement already satisfied: colorama in c:\users\bhupe\anaconda3\lib\site-packages (from crayons->webdriver-manager) (0.4.3)

In [95]:
driver=webdriver.Chrome(ChromeDriverManager().install())

[WDM] - ====== WebDriver manager ======
[WDM] - Current google-chrome version is 88.0.4324
[WDM] - Get LATEST driver version for 88.0.4324

[WDM] - Driver [C:\Users\bhupe\.wdm\drivers\chromedriver\win32\88.0.4324.96\chromedriver.exe] found in cache

In [96]:
driver.get('https://www.naukri.com/')

In [97]:
search_job=driver.find_element_by_id('qsb-keyword-sugg')
search_job.send_keys('Data Scientist')

In [98]:
search_btn=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_btn.click()

In [102]:
job_location=driver.find_element_by_xpath("//label[@for='chk-Delhi/NCR-cityType-']/i")
job_location.click()

In [103]:
salary=driver.find_element_by_xpath("//label[@for='chk-3-6 Lakhs-ctcFilter-']/i")
salary.click()

In [104]:
job_titles=[]
company_names=[]
location_list=[]
experience_list=[]

In [105]:
titles_tags=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="8c24e89c-30e5-43c6-86df-7f5447c28f47")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="0ce09734-3382-4cdc-aefb-341b17f99e7f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="734ca4c6-008c-4f82-9864-ff0e890ce192")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="677af006-ec05-461e-90fa-4e38c3c39e6b")>]

In [106]:
for i in titles_tags:
    title=i.text
    job_titles.append(title)
    
job_titles[0:4]

['Data Scientist',
 'Data Scientist',
 'Senior Data Scientist - Computer Vision',
 'Data Scientist - Machine Learning/ NLP']

In [107]:
companies_tags=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
companies_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="9d55d005-fbbc-4e4c-9fe0-2d104256baab")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="e02d1c87-801c-491d-955b-36d2fcfd54fe")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="4532b0c5-bc1f-41c2-8f16-5e698244b344")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="1233ac41-54b6-4fbe-9bd9-38210e3300fb")>]

In [108]:
for i in companies_tags:
    company=i.text
    company_names.append(company)
    
company_names[0:4]

['Country Veggie', 'IBM India Pvt. Limited', 'IRIS SOFTWARE Inc', 'TalPro']

In [109]:
experience_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="94c2fded-c617-419e-833f-60354393a906")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="67a5e205-d012-47ec-92dd-a6e502274a60")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="120909d5-b899-4f2f-b49c-429761e53921")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="90eef0d8-a476-4d81-b413-5df9758bc7c3")>]

In [110]:
for i in experience_tags:
    experience=i.text
    experience_list.append(experience)
    
experience_list[0:4]

['1-3 Yrs', '4-8 Yrs', '4-9 Yrs', '2-6 Yrs']

In [111]:
location_tags=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tags[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="f967d6f2-907e-40e7-b322-708f7e88dd83")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="73b2c68f-63d6-4f2d-b73d-24473dbc8982")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="f1d6cb2c-03f5-4cbf-a570-67b6a9b674ca")>,
 <selenium.webdriver.remote.webelement.WebElement (session="d1e29638690345f56034c88ab1d0538c", element="4754e300-53e1-46f9-9fad-74edd286551b")>]

In [112]:
for i in location_tags:
    location=i.text
    location_list.append(location)
    
location_list[0:4]

['Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Bengaluru, Gurgaon, Agra, Bharuch, Jaunpur, Nagpur, Delhi, Mumbai, Jaipur, Jhansi',
 'Gurgaon Gurugram',
 'Delhi NCR',
 'Gurgaon Gurugram']

In [113]:
print(len(job_titles),len(company_names),len(location_list),len(experience_list))

20 20 20 20

In [114]:
jobs=pd.DataFrame({})
jobs['job_titles']=job_titles[:10]
jobs['company_names']=company_names[:10]
jobs['location_list']=location_list[:10]
jobs['experience_list']=experience_list[:10]

In [115]:
jobs

,job_titles,company_names,location_list,experience_list
0,Data Scientist,Country Veggie,"Ghaziabad, Bhopal, Lucknow, Kanpur, Rajkot, Be...",1-3 Yrs
1,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,4-8 Yrs
2,Senior Data Scientist - Computer Vision,IRIS SOFTWARE Inc,Delhi NCR,4-9 Yrs
3,Data Scientist - Machine Learning/ NLP,TalPro,Gurgaon Gurugram,2-6 Yrs
4,Only Fresher / Data Scientist / Data Analyst /...,GABA Consultancy services,"Delhi NCR, Noida, Gurgaon",0-0 Yrs
5,Data Scientist,Ciena,Gurgaon Gurugram,5-6 Yrs
6,Data Scientist - Tableau/Power BI,Talent Stock Solutions,Delhi,1-3 Yrs
7,GCP Skilled Analytics Resources (Data engineer...,Aerial Telecom Solutions Pvt. Ltd.,"Pune, Bengaluru, Gurgaon",3-8 Yrs
8,Data Scientist - IT,Ehireo,Gurgaon,4-9 Yrs
9,Data Scientist Machine Learning,Delhivery,Gurgaon,1-3 Yrs